#page{
	padding-top:100px;
	margin-bottom: 60px;
}

#box{
	margin-left: 100px;
	margin-right: 100px
}
.redRow {
     background:rgba(255,0,0,0.1);
}
.darkRedRow{
	background:rgba(255,0,0,0.2);
}
.greenRow{
	background:rgba(0,255,0,0.1);
}
.darkGreenRow{
	background:rgba(0,255,0,0.2);
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.margin-top{
	margin-top: 40px;
}
h3{

	color:#FF9900;

}
.apkForm div input{
	border-radius: 4px;
}
.info-box{
	color:white;
	background: #575656;
	border-bottom: 5px solid #6ac8ee;

}
form{
	padding-bottom: 50px;
}


table{
	padding-top: 50px;
	border:1px solid #DDD;
	border-radius: 10px;
}
.table{
	margin-bottom: 0px;
}
#calcApk{
	margin-bottom: 25px;
}
.apk-header{
	font-size: 20px;
	padding-top: 10px;
	text-align: center;
}
.apk-value{
	text-align: center;
	font-size: 22px;

}
#apk-loadmore{
	width:100%;
}
#apkTable tbody tr:hover{
	cursor: pointer;
	background:#b3b3b3;
}
@media only screen and (max-width: 800px) {
	#unseen table td:nth-child(3), 
	#unseen table th:nth-child(3),
	#unseen table td:nth-child(1), 
	#unseen table th:nth-child(1) {display: none;}
}
 
@media only screen and (max-width: 640px) {
	#unseen table td:nth-child(1),
	#unseen table th:nth-child(1),
	#unseen table td:nth-child(3),
	#unseen table th:nth-child(3),
	#unseen table td:nth-child(6),
	#unseen table th:nth-child(6),
	#unseen table td:nth-child(7),
	#unseen table th:nth-child(7){display: none;}
}